@import '../../styles/variables';

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    img {
        margin: 10px 10px 0 0;
        cursor: pointer;
        width: 200px;
        border: 2px solid transparent;
        &.active {
            border: 2px solid blue;
        }
    }
}